body {

  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: bisque;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Times New Roman', Times, serif
}



/* Navigation bar */


.customNav {
  position: relative;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}

/* Navigation links */
.customNav a {
  color: white !important;
}

.navCTA {
  font-size: 15px;
}

/*jumbotron*/

.jumboBackground {
  background-image: url("../images/pexels-jessica-lewis-creative-583848.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color:#f44336;
  text-align: center;
}

#my-photo {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 400px;
  height: 350px;
}

/*cards*/

.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;

  
}
.content{
  padding:50px
}
/* about me*/
.about{
  margin: 200px 10px 200px 10px;
  background-color: green;
}

.contactButton {
  margin-top: 100px;
  text-align: center;
  


}